{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="mt-5">Benvenut@ Eternauta</h1>
    <p class="lead">Questi gli argomenti disponibili:</p>
    <!-- <ul class="list-unstyled">
      {% for node in nodes %}
      <li><a href="{{ url_for('question', id=node.id) }}">{{ node.title }}</a></li>
      {% endfor %}
    </ul> -->
    <ul class="list-unstyled">
      <li>
        Terza liceo scientifico - fisica
        <ol>
          <li><a href="/static/scansioni/esercizi_fisica_3S_cap4.pdf">Problemi su lavoro ed energia cinetica</a> con alcuni <a href="/static/scansioni/svolti_cap4_fisica_3S.pdf">esercizi svolti</a></li>
        </ol>
      </li>
      <li>
        Quarta liceo scientifico - fisica
        <ol>
          <li><a href="/static/scansioni/esercizi_fisica_4M_cap1.pdf">Problemi sul magnetismo</a></li>
        </ol>
      </li>
      <li>
        Terza liceo economico - matematica
        <ol>
          <li><a href="/static/scansioni/esercizi_esponenziali_3E.pdf">Esercizi su esponenziali</a></li>
        </ol>
      </li>
      <li>
        Quarta liceo scientifico - matematica
        <ol>
          <li><a href="/static/scansioni/esercizi_integrali_indefiniti_immediati.pdf">Esercizi su integrali immediati</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_indefiniti_per_parti.pdf">Esercizi su integrali per parti</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_indefiniti_per_sostituzione.pdf">Esercizi su integrali per sostituzione</a></li>
        </ol>
      </li>

    </ul>
  </div>
</div>
{% endblock %}
