{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="mt-5">Benvenut@ Eternauta</h1>
    <p class="lead">Questi gli argomenti disponibili:</p>
    <!-- <ul class="list-unstyled">
      {% for node in nodes %}
      <li><a href="{{ url_for('question', id=node.id) }}">{{ node.title }}</a></li>
      {% endfor %}
    </ul> -->
    <ul class="list-unstyled">
      <li>
        Quarta liceo scientifico - fisica
        <ol>
          <li><a href="/static/scansioni/esercizi_fisica_4M_cap1.pdf">Problemi sul magnetismo</a></li>
        </ol>
      </li>

    </ul>
  </div>
</div>
{% endblock %}
