{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="mt-5">Benvenut@ Eternauta</h1>
    <p class="lead">Questi gli argomenti disponibili:</p>
    <!-- <ul class="list-unstyled">
      {% for node in nodes %}
      <li><a href="{{ url_for('question', id=node.id) }}">{{ node.title }}</a></li>
      {% endfor %}
    </ul> -->
    <ul class="list-unstyled">
      <li>
        <a data-toggle="collapse" href="#FIS2S" role="button" aria-expanded="false" aria-controls="FIS2S">
          Seconda liceo scientifico - fisica
        </a>
        <ol class="collapse" id="FIS2S">
          <li><a href="/static/scansioni/temario_2S_parte1.pdf">Temario, parte uno</a></li>
          <li>Svolgere i problemi 3, 8, 12, 27 del capitolo 2. Se non riuscite a farli, se proprio proprio non riuscite a farli, qui ci sono delle <a href="/static/scansioni/soluzioni_3_8_12_27_CAP2.pdf">soluzioni</a> per trarre ispirazioni. Svolgete gli esercizi su fogli separati, mettete il nome e consegnateli a me alla prima occasione.</li>
          <li><a href="/static/scansioni/esercizi_fisica_cap02_2S.pdf">Problemi sui moti nel piano</a></li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#FIS3S" role="button" aria-expanded="false" aria-controls="FIS2S">
        Terza liceo scientifico - fisica
      </a>
        <ol class="collapse" id="FIS3S">
          <li><a href="/static/scansioni/teoria_esercizi_urti.pdf">Teoria ed esercizi sugli urti</a></li>
          <li><a href="/static/scansioni/esercizi_capitolo5.pdf">Esercizi capitolo 5</a></li>
          <li><a href="/static/scansioni/F3S190827.pdf">Preparazione al compito</a> - Questi esercizi sono da svolgere in vista del prossimo compito in classe. Sono argomenti non ancora affrontati, quindi attendete le lezioni in classe per poterli svolgere correttamente. I più temerari possono già leggere la teoria che permette di risolvere questi problemi: <a href="/static/scansioni/teoria_CAP5PAR1234.pdf">capitolo 5 paragrafi 1, 2, 3 e 4</a>.</li>
          <li>
            <a href="/static/scansioni/F3S190820.pdf">Testo</a> della verifica 20/08/19 e relative
            <a href="/static/scansioni/F3S190820soluzioni.pdf">soluzioni</a>
          </li>
          <li><a href="/static/scansioni/verifica_fisica_facsimile_3S.pdf">Verifica facsimile</a></li>
          <li><a href="/static/scansioni/esercizi_fisica_3S_cap4.pdf">Problemi su lavoro ed energia cinetica</a> con alcuni <a href="/static/scansioni/svolti_cap4_fisica_3S.pdf">esercizi svolti</a></li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#FIS4S" role="button" aria-expanded="false" aria-controls="FIS2S">
        Quarta liceo scientifico - fisica
      </a>
        <ol class="collapse" id="FIS4S">
          <li><a href="/static/scansioni/esercizi_capitolo27.pdf">Problemi su induzione e corrente alternata</a></li>
          <li><a href="/static/scansioni/esercizi_fisica_capitolo_26.pdf">Problemi su forza di Lorentz</a></li>
          <li><a href="/static/scansioni/esercizi_fisica_4M_cap1.pdf">Problemi sul magnetismo</a></li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#MAT1S" role="button" aria-expanded="false" aria-controls="FIS2S">
        Prima liceo scientifico - matematica
      </a>
        <ol class="collapse" id="MAT1S">
          <li>Esercizi svolti: <a href="/static/scansioni/esercizio_svolto_37pG137.pdf">Problema 37</a>, <a href="/static/scansioni/esercizio_svolto_48pG139.pdf">Problema 48</a>.</li>
          <li><strong>Per mercoledì 21 agosto: </strong> svolgere gli esercizi 10 (quello assegnato in classe) e 21 del capitolo caricato qui di seguito. Svolgere gli esercizi su fogli sciolti, mettere il nome su tutti i fogli, raccoglierli e consegnarli entro mercoledì 21.</li>
          <li><a href="/static/scansioni/capitolo_g3_perpendicolari_1S.pdf">Capitolo sulle perpendicolari</a></li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#MAT2E" role="button" aria-expanded="false" aria-controls="FIS2S">
        Seconda liceo economico - matematica
      </a>
        <ol class="collapse" id="MAT2E">
          <li><strong>Per mercoledì 21 agosto. </strong> Svolgere a casa i quattro esercizi assegnati a lezione su un foglio a parte, raccoglierli e consegnarli.</li>
          <li><a href="/static/scansioni/capitolo_09_retta_2E.pdf">Capitolo sulla retta</a></li>
        </ol>
      </li>
      <li>
      <li>
        <a data-toggle="collapse" href="#MAT2V" role="button" aria-expanded="false" aria-controls="FIS2S">
        Seconda liceo Viña - matematica
      </a>
        <ol class="collapse" id="MAT2V">
          <li><strong>Per venerdì 16 agosto.</strong> Svolgere gli esercizi 50, 157, 201 e 202 dal capitolo 12 (caricato qui). Leggere e cercare di capire cosa c'è scritto a pagina 871 del predetto capitolo.</li>
          <li><a href="/static/scansioni/capitolo_12_equazioni_secondo_grado.pdf">Capitolo sulle equazioni di secondo grado</a></li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#MAT3E" role="button" aria-expanded="false" aria-controls="MAT3E">
        Terza liceo economico - matematica
      </a>
        <ol class="collapse" id="MAT3E">
          <li>Per <strong>lunedì 2 settembre</strong>. Dal capitolo sugli esponenziali svolgere gli esercizi 69, 70, 71 e 215. Dal capitolo sui logaritmi svolgere gli esercizi 223, 224, 225 e 315.</li>
          <li><a href="/static/scansioni/esercizi_logaritmi_3E.pdf">Esercizi su logaritmi</a> (svolgere numeri 215, 217, 220; 298, 315, 333; 444, 455, 468 per lunedì 19 agosto)</li>
          <li><a href="/static/scansioni/esercizi_esponenziali_3E.pdf">Esercizi su esponenziali</a> (tre domini, tre equazioni, tre disequazioni)</li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#MAT3V" role="button" aria-expanded="false" aria-controls="MAT3V">
        Terza liceo Viña - matematica
      </a>
        <ol class="collapse" id="MAT3V">
          <li>Capitolo di <a href="/static/scansioni/temario_parte1_3V.pdf">Temario, parte 1</a></li>
          <li>Capitolo di <a href="/static/scansioni/esercizi_parabole.pdf">esercizi sulle parabole</a></li>
          <li>Se vuoi, leggi la <a href="/static/scansioni/teoria_parabole.pdf">teoria delle parabole</a></li>
        </ol>
      </li>
      <li>
        <a data-toggle="collapse" href="#MAT4S" role="button" aria-expanded="false" aria-controls="MAT4S">
        Quarta liceo scientifico - matematica
      </a>
        <ol class="collapse" id="MAT4S">
          <li><a href="/static/scansioni/esercizi_integrali_generici.pdf">Esercizi integrali indefiniti generici</a></li>
          <li><a href="/static/scansioni/esercizi_calcolo_aree.pdf">Esercizi su calcolo aree</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_definiti.pdf">Esercizi su integrali definiti</a></li>
          <li><a href="/static/scansioni/M4S100823soluzioni.pdf">Soluzioni della verifica</a></li>
          <li><a href="/static/scansioni/verifica_facsimile_integrali_indefiniti.pdf">Verifica facsimile</a></li>
          <li><a href="/static/scansioni/LI02-Esempio1.pdf">Simulazione d'esame matematica e fisica per il 19 agosto</a></li>
          <li><a href="/static/scansioni/problemi_simulazione.pdf">Problemi prima simulazione risolti</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_indefiniti_immediati.pdf">Esercizi su integrali immediati</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_indefiniti_per_parti.pdf">Esercizi su integrali per parti</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_indefiniti_per_sostituzione.pdf">Esercizi su integrali per sostituzione</a></li>
          <li><a href="/static/scansioni/esercizi_integrali_fratte.pdf">Esercizi su integrali di funzioni razionali fratte</a></li>
          <li><a href="/static/scansioni/esercizi_studio_di_funzioni.pdf">Esercizi su studio di funzioni</a></li>
        </ol>
      </li>

    </ul>
  </div>
</div>
{% endblock %}
