{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="mt-5">Domanda:</h1>
    <p>
      {{ question.text }}
    </p>
    <ul class="list-unstyled">
      {% for item in question.choices %}
      <li>
        <form action="/answer" method="post">
          <input type="hidden" name="id" value="{{ question.id }}"></input>
          <input type="hidden" name="answer" value="{{ item }}"></input>
          <input type="submit" value="{{ item }}"></input>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
